---
const { platform, username, customUrl } = Astro.props;
---
<a class="usa-social-link usa-social-link--twitter" href={customUrl ? customUrl : `https://www.${platform}.com/${username}`}>{platform}</a>
<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>
